In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Load the CSV Files
csv = pd.read_csv('data/JC-202301-citibike-tripdata.csv')

In [3]:
csv2 = pd.read_csv('data/JC-202302-citibike-tripdata.csv')

In [4]:
csv3 = pd.read_csv('data/JC-202303-citibike-tripdata.csv')

In [5]:
#Check the CSV
csv.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [6]:
#Combine 3 CSV Files

csv2023 = pd.concat([csv,csv2,csv3])

csv2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [7]:
#Check the columns types 

csv2023.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
#add our CSV File to the "data" foldeer
csv2023.to_csv("data/2023.csv")

In [9]:
csv2023.describe()

           start_lat      start_lng        end_lat        end_lng
count  170360.000000  170360.000000  170213.000000  170213.000000
mean       40.732302     -74.040728      40.732203     -74.040387
std         0.011876       0.012209       0.012022       0.012053
min        40.706575     -74.086854      40.670000     -74.160000
25%        40.721525     -74.046305      40.721525     -74.045953
50%        40.735208     -74.038051      40.735208     -74.037977
75%        40.742258     -74.031046      40.742258     -74.030970
max        40.754907     -74.023704      40.851680     -73.918975

In [10]:
#Figure out the types for each data type/Column
csv2023.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170360 entries, 0 to 63071
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             170360 non-null  object
 1   rideable_type       170360 non-null  object
 2   started_at          170360 non-null  object
 3   ended_at            170360 non-null  object
 4   start_station_name  170360 non-null  object
 5   start_station_id    170360 non-null  object
 6   end_station_name    169809 non-null  object
 7   end_station_id      169809 non-null  object
 8   start_lat           170360 non-null  float64
 9   start_lng           170360 non-null  float64
 10  end_lat             170213 non-null  float64
 11  end_lng             170213 non-null  float64
 12  member_casual       170360 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.2+ MB